.list-group-flush{
    padding-top: 10px;
}
.material-icons{
    cursor: pointer;
    padding: 5px;
}
html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
table.message{
	overflow-y:scroll; 
	height:200px; 
	display:block;  
}
th.fixed{
	top: 0;
    z-index: 2;
    position: sticky;
}